/* background-color property is used for background */
h1 {
    color: red;
    background-color: antiquewhite;
}

p {
    color: black;
    background-color: cadetblue;
}

button {
    color: gold;
    background-color:black;
}
/* color propert is used for foreground */