#container {
    height:600px;
    width:90%;
    background-color:antiquewhite;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    /* By default diplay:flex is in row direction */
    flex-direction:row;
    justify-content:space-evenly;
}

.rainbow {
    width:60px;
    height:60px;
    text-align:center;
    color:black;
    font-weight: bold;
    font-family:segoe ui;
    font-size:1.5em;

}