#container {
    height:600px;
    width:90%;
    background-color:antiquewhite;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    /* By default diplay:flex is in row direction */
    flex-direction:column;
    /* justify-content:space-evenly; */
    flex-wrap:wrap-reverse;
}

h2 {
    text-align:center;
    font-family:segoe ui;
}

.rainbow {
    width:300px;
    height:200px;
    text-align:center;
    color:black;
    font-weight: bold;
    font-family:segoe ui;
    font-size:1.5em;

}

