#container {
    height:600px;
    width:90%;
    background-color:antiquewhite;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    /* By default diplay:flex is in row direction */
    flex-direction:row;
    /* justify-content:space-evenly; */
    flex-wrap:wrap;
    align-items:baseline;
    
}

h2 {
    text-align:center;
    font-family:segoe ui;
}

.rainbow {
    width:300px;
    height:300px;
    text-align:center;
    color:black;
    font-weight: bold;
    font-family:segoe ui;
    font-size:1.5em;

}

#blue {
    height:200px;
    font-size:3em;
}

#green {
    height:400px;
    font-size:0.5em;
}

