h1 {
    background-color:yellow;
    border:2px solid black;
}

@media(width:400px){
    /* we rarely use the fix width */
    h1{
        background-color:red;
        color:white;
    }
}
/* 
@media (min-width:400px){
    h1 {
        border-radius:15px;
        background-color:yellowgreen;
        color:black;
    }
}

@media (max-width:300px){
    h1 {
        background-color:blueviolet;
        color:white;
    }
} */

@media (min-width:300px) and (max-width:700px){
    h1 {
        background-color:magenta;
        color:black;
        border-radius:15px;
    }
}