section {
    margin-top:100px;
}

div {
    width:200px;
    height:50px;
    border:2px solid black;
    margin:10px;
    text-align:center;
    background-color:#7aa874;
    /* transform:rotate(45deg); */
    margin:auto;
}

#one{
    /* clockwise rotate */
    transform:rotate(45deg);
}

#two {
    transform:scale(0.5);
}

#six {
    transform:translate(100px,100px);
    /* transform:translateX(100px);
    transform:translateY(100px); */
    background-color:black;
    color:white;
}

#three {
    transform:skew(40deg);
}

#four {
    transform:rotate(45deg) translateX(200px);
}

div:nth-of-type(2n) {
    background-color:rgb(134, 67, 197);
}

div:nth-of-type(3n) {
    background-color:rgb(219, 227, 5);
}