#container {
    height:750px;
    width:900px;
    background-color:antiquewhite;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    /* By default diplay:flex is in row direction */
    flex-direction:row;
    /* justify-content:space-evenly; */
    /* flex-wrap:wrap; */
    align-content:flex-start;
    
}

h2 {
    text-align:center;
    font-family:segoe ui;
}

.rainbow {
    width:200px;
    height:100px;
    text-align:center;
    color:black;
    font-weight: bold;
    font-family:segoe ui;
    font-size:1.5em;

}

#blue {
    /* height:200px; */
    /* font-size:3em; */
    /* flex-basis:200px; */
    /* flex-grow:1; */
    /* flex-shrink:4;
    min-width:80px; */
    flex:2 2 100px;
}

#skyblue {
    /* flex-grow:1; */
    /* flex-shrink:2; */
}
 
#violet {
    /* flex-basis:200px; */
    /* flex-grow:2; */
    /* max-width:500px; */
    /* min-width:400px; */
    /* flex-shrink:2; */
}

#green {
    /* height:200px;
    font-size:0.5em;
    align-self:flex-start; */
    /* flex-shrink:4; */
    flex:1 1 100px;
}

